<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Application </title>
</head>
<body>
    <div class="text-center">
        <h2>Create blog</h2>
        {{message}}
    <form action="{% url 'createblog' %}", method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button> <br>
        <a href="{% url 'dashboard' %}">Dashboard</a>
    </form>
    </div>
</body>
</html>